[server]
http_port = {{ http_port }}
domain = {{ domain }}

[database]
url = {{ db_url }}

[security]
admin_user = {{ admin_user }}
admin_password = {{ admin_password }}

[dashboards]
dashboard = "{{ dashboard_example }}"
